div.timePickers {
    display: flex;
    align-items: center;
}

div#time {
    display: flex;
}

ng-timepicker.ng-untouched.ng-valid.ng-scope.ng-not-empty.ng-dirty.ng-valid-parse {
    padding-left: 10px;
}

input.ng-timepicker-input {
    border: 1px #c2c2c2 solid;
}

div#time .ng-timepicker > table > tbody > tr > td > input {
    font-size: 13px;
    width: 35px;
    border: 1px #c2c2c2 solid;

}

div#time td.act.noselect {
    outline: none;
}


.mdselection {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.mdselection .header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
.mdselection .select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
.mdselection md-content._md {
    max-height: 240px; }

div#select_container_4._md-select-menu-container{
    left: 192px !important;
    top: 205px !important;
}

._md-select-menu-container {
    min-width: 165px !important;
}