<md-content>
    <div>Date:</div>
    <md-datepicker ng-model="vm.from" md-placeholder="From"></md-datepicker>
    <md-datepicker ng-model="vm.to" md-placeholder="To"></md-datepicker>
</md-content>
<div style="padding: 10px 0"></div>
<span>Time:</span>
<div id="time">
<div class="timePickers">
    <span>From</span>
    <ng-timepicker ng-model="vm.fromTime" theme="blue"></ng-timepicker>
</div>

<div class="timePickers" style="padding-left: 40px;">
    <span>To</span>
    <ng-timepicker ng-model="vm.toTime" theme="blue"></ng-timepicker>
</div>
</div>

<div style="padding: 10px 0"></div>

<md-input-container id="adi">
    <label>Days</label>
    <md-select ng-model="vm.selectedDays"
               md-on-close="vm.clearSearchTerm()"
               data-md-container-class="mdselection"
               multiple>
        <md-optgroup label="Pick days">
            <md-option ng-value="day" ng-repeat="day in vm.days |
              filter:searchTerm">{{day}}</md-option>
        </md-optgroup>
    </md-select>
</md-input-container>

<div style="padding: 10px 0"></div>

<div>
<button ng-click="vm.getScreen()">Get Screens</button>
</div>

<div style="padding: 10px 0"></div>
<div id="result">{{vm.result}}</div>
<span ng-repeat="frame in vm.frames">screen id:{{frame.id}}
    <iframe ng-src={{frame.url}}></iframe>
</span>

