<div>
    <div class="divs">
        <div class="field_names">Screens</div>
        <span>Add new screen:</span>
        <input type="number" ng-model="vm.newScreen">
        <button ng-click="vm.addScreen()" class="add" ng-disabled="!vm.newScreen">+</button>
        <ul id="screens">
            <li ng-repeat="screen in vm.screens">
                <span>{{screen}}</span>
                <button ng-click="vm.deleteScreen(screen)">Delete</button>
            </li>
        </ul>
    </div>

    <div class="divs">
        <span class="field_names">Templates</span>
        <div>
            <span>Add new template:</span>
            <input id="inputFile" type="file" name="file" onchange="angular.element(this).scope().fileChanged(this.files)"/>
            <button id="upload" ng-disabled="!vm.currentFile || vm.currentFile == 'notHtml'"
                    ng-click="uploadFile(vm.currentFile)" class="add glyphicon glyphicon-upload">
            </button>
            <span ng-show="vm.currentFile == 'notHtml'" class="error" ng-cloak>template file must be of type html</span>
            <span ng-show="vm.response == 'success'" ng-cloak class="success">Upload succeeded</span>
            <span ng-show="vm.response == 'failed'" ng-cloak class="error">Upload failed</span>
        </div>
        <ul id="urls">
            <li ng-repeat="url in vm.urls">
                <span>{{url}}</span>
                <button ng-click="vm.deleteUrl(url)">Delete</button>
            </li>
        </ul>
    </div>
</div>