<div>
    <div>
        <h1>Select filter</h1>

        <div class="row">
            <div class="col-md-1">
                City
            </div>
            <div class="col-md-1">
                <select ng-model="vm.selectedCityValue" ng-options="x.key for x in vm.cityValues" ng-change="vm.getFilteredData()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                Year
            </div>
            <div class="col-md-1">
                <select ng-model="vm.selectedYearValue" ng-options="x.key for x in vm.yearValues" ng-change="vm.getFilteredData()">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                Month
            </div>
            <div class="col-md-1">
                <select ng-model="vm.selectedMonthValue" ng-options="x.key for x in vm.monthValues" ng-change="vm.getFilteredData()">
                    <option></option>
                </select>
            </div>
        </div>
    </div>

    <h1>Results</h1>
    <ul id="messages-list">
        <li class="message" ng-repeat="data in vm.data">

            <div>
                Screen id: {{data.id.toString()}}
            </div>
            <div>
                Date: {{data.date}}
            </div>
            <div>
                City: {{data.city.toString()}}
            </div>
            <div>
                Location: latitude {{data.location.lat.toString()}} longtitude {{data.location.lng.toString()}}
            </div>

            <hr/>
        </li>

    </ul>
</div>