ul#panel li.menu_item a:hover {
    background-color: #6ec6e4;
    cursor: pointer;
}

ul#panel li.menu_item a.selected_button {
    background-color: #8ae1ff;;
}

ul#panel li.menu_item a {
    padding: 13px 10px;
    color: #2c6596;
    border-radius: 20px;
    text-decoration: none;
}

ul#panel li.menu_item {
    list-style-type: none;
    padding: 35px 0;
    height: 50px;
}

ul#panel {
    padding: 0 0 0 10px;
}

body {
    margin: 0;
}