h1{
    text-shadow: 0 0 1px #3ab2d5;
}
canvas{
    width:250px;
    height:50px;
    transition: width 1s;
}
canvas:hover {
    width: 400px;
}
@font-face {
    font-family: myFont;
    src:url('./myFont.ttf')
}

.header {
    font-family: myFont;
}

#text {
    column-count: 3;
    column-rule-style: solid;
    column-rule-color: #3ab2d5;
}